<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.first
		{
			width:102%;
			height:300px;
			background-color:purple;
			transform:translate(-10px,-8px);
		}
		body
		{
			background-color:lightblue;
		}
		.second
		{
			width:700px;
			background-color:white;
			padding:20px;
			transform: translate(280px,-90px)

		}
	</style>
</head>
<body>
	<div class="first">
	</div>
	<div class="second">
		<h><font size="6"><b>THANKS FOR YOUR SUPPORT!!!!!</b></font></h><br><br><br>
		<h><font size="2"><b>your responses has been recorded!!!!</b></font></h>
	</div>

</body>
</html>